// Z Indexes
$Header__zIndexHeader: 1000;
$Header__zIndexMenu: 900;
$Header__zIndexBackdrop: 500;
$Header__zIndexDate: 150;
$Header__zIndexBlur: 50;
$OViewer__zIndexOViewer: 100;
$OViewer__zIndexBlur: -1;
$Alimentacao__zIndexItemTitle: 3;
$Alimentacao__zIndexItemImg: 1;
$Alimentacao__zIndexItemBlur: 2;
$Alimentacao__zIndexModal: 200;
$Treino__zIndexModal: 110;


// Media Queries
$desktopMinSize: 900px;