@import '../../../assets/style/theme.scss';

.treinoItem {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
        cursor: pointer;
        width: 75px;
        user-select: none;
        height: 75px;
        object-fit: cover;
        border-radius: 14px;
        transition: width .3s ease-in-out, height .3s ease-in-out, opacity .2s ease;

        &:hover {
            opacity: .6;
        }
    }

    h5 {
        color: #fff;
        font-weight: 400;
        font-size: .97rem;
        margin-bottom: 2px;
    }

    p {
        font-weight: 300;
        color: #a1a1a1;
        font-size: .97rem;
    }

    @media (min-width: $desktopMinSize) {
        h5, p {
            font-size: 1.05rem;
        }

        img {
            width: 90px;
            height: 90px;
        }
    }
}

.backdrop {
    position: fixed;
    user-select: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 150px;
    z-index: $Treino__zIndexModal;
    min-height: 100vh;
    inset: 0;
    background-color: rgba(33, 33, 33, .88);
    backdrop-filter: blur(8px);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease, visibility .2s ease;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.imgView {
    width: 90% !important;
    display: block;
    max-width: 700px;
    height: 100%;
    transform: translateY(30px);
    border-radius: 30px;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease, visibility .2s ease, transform .25s ease;
    
    &.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}